// utilities
// @import "node_modules/foundation-emails/scss/util/util";

// components
// @import "node_modules/foundation-emails/scss/components/typography";
// @import "node_modules/foundation-emails/scss/components/button";

@import "node_modules/foundation-emails/scss/foundation-emails";
p {
  margin: 0 !important;
}
// переменныe
$font-family: Helvetica !important;
$title-color: #132035;
$subtitle-color: #24262d;
$text-color: #24262d;
$font-style: Helvetica;
$text-left: left;
$text-center: center;
$secondary-color: #007BFF; 

.width100{
  max-width: 100%;
}
body {
  background: #f9f9f9;
}
.plr10 {
  padding: 0 10px;
}

.padd {
  padding: 0 50px;

  @media only screen and (max-width: 600px) {
    padding: 0 20px !important;
  }
}

.border-radius {
  border-radius: 20px;
}

.bg-image {
  background: url('https://fsms.iqoption.com/storage/public/cc/q3/o2pbdrom0oposqe0/Frame 710 (1).png') center top no-repeat;
  background-size: cover;
  border-collapse: collapse;
  border-radius: 0 0 10px 10px;
  border-spacing: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.title {
  font-family: $font-family !important;
  font-style: $font-style;
  color: $title-color;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: $text-left;

  @media only screen and (max-width: 600px) {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}

.subtitle {
  font-family: $font-family !important;
  font-family: $font-style;
  color: $subtitle-color;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: $text-left;
}

.text {
  font-family: $font-family !important;
  color: $text-color;
  font-family: $font-style;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: $text-left;
}

// Padding Top
.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt40 {
  padding-top: 40px !important;
}

// Padding Bottom
.pb10 {
  padding-bottom: 10px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.column {
  display: inline-block;
  width: 50%;
  vertical-align: top;

  @media only screen and (max-width: 600px) {
    display: block !important;
    width: 100% !important;
  }
}
.small-column-left {
  display: inline-block;
  width: 30%;
  vertical-align: top;

  @media only screen and (max-width: 600px) {
    display: block !important;
    width: 100% !important;
  }
}

.small-column-right {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-left: 20px;

  @media only screen and (max-width: 600px) {
    display: block !important;
    width: 100% !important;
    padding-left: 0 !important;
  }
}

.custom-button {
  font-size: 16px;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
}



/* src/components/Button/Button.scss */

.button-wrapper_bot {
  // Добавьте необходимые стили для адаптивности
}

.medium-button {
  // Стили для внутренней таблицы кнопки
}

.radius {
  // Стили для скругления углов, если необходимо
}

.blue-button {
  // Дополнительные стили для кнопки
}

.arrow-icon {
  // Стили для иконки стрелки, если необходимо
}

/* Мобильная адаптивность */
@media only screen and (max-width: 600px) {
  .medium-button {
    width: 100% !important;
  }

  .butt {
    padding: 15px 0 !important;
    font-size: 14px !important;
  }

  .arrow-icon {
    max-width: 14px !important;
    padding-left: 10px !important;
  }
}
