// utilities
// @import "node_modules/foundation-emails/scss/util/util";

// components
// @import "node_modules/foundation-emails/scss/components/typography";
// @import "node_modules/foundation-emails/scss/components/button";

@import 'node_modules/foundation-emails/scss/foundation-emails';

// переменныe
$title-color: #132035;
$subtitle-color: #24262d;
$text-color: #24262d;
$font-style: Helvetica !important;
$text-left: left;
$text-center: center;
$secondary-color: #007bff;

body {
  background: #f9f9f9;
}

p {
  margin: 0 !important;
}

.width100 {
  max-width: 100%;
}

.plr10 {
  padding: 0 10px;
}

.padd {
  padding: 0 50px;

  @media only screen and (max-width: 600px) {
    padding: 0 20px !important;
  }
}

.border-radius {
  border-radius: 20px;
}

.bg-image {
  background: url('https://fsms.iqoption.com/storage/public/cc/q3/o2pbdrom0oposqe0/Frame 710 (1).png')
    center top no-repeat;
  background-size: cover;
  border-collapse: collapse;
  border-radius: 0 0 10px 10px;
  border-spacing: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.shadow {
  box-shadow: 0 1px 2px rgba(130, 135, 181, 0.1);
  border-radius: 4px !important;
}

.title {
  font-family: $font-style;
  font-style: $font-style;
  color: $title-color;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: $text-left;
  margin: 0;
  @media only screen and (max-width: 600px) {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}

.subtitle {
  font-family: $font-style;
  color: $subtitle-color;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: $text-left;
  margin: 0;
}

.text {
  font-family: $font-style;
  color: $text-color;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: $text-left;
  margin: 0;
}
.fat-text {
  font-family: $font-style;
  color: $text-color;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: $text-left;
  margin: 0;
}
.orange-text {
  color: #ed7960;
  font-family: $font-style;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 7px;
  margin: 0;
  @media only screen and (max-width: 600px) {
    padding-top: 15px !important;
  }
}

.item-title {
  font-family: Helvetica !important;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 0;
  text-align: left;
}

.gray-text {
  font-family: 'Helvetica !important';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #838487;
  margin: 0;
}

.green-man {
  clear: both;
  display: inline-block;
  float: none;
  vertical-align: middle;
  outline: none;
  padding: 0 3px;
  width: 24px !important;
}

.link {
  font-weight: 700;
}
// Padding Top
.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt50 {
  padding-top: 50px !important;
}

// Padding Bottom
.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}
.green-block {
  background-color: #f0fcec;
  padding: 30px 50px;
  border-radius: 4px;
  @media only screen and (max-width: 600px) {
    padding: 22px !important;
  }
}

.column {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  border-radius: 10px !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  @media only screen and (max-width: 600px) {
    display: block !important;
    width: 100% !important;
  }
}

.padding-for-columns {
  padding: 26px 30px;
  @media only screen and (max-width: 600px) {
    padding: 16px 20px !important;
  }
}

.padding {
  padding: 3px;
}
.bg-white {
  background-color: #ffffff;
}
.small-column-left {
  display: inline-block;
  width: 30%;
  vertical-align: top;

  @media only screen and (max-width: 600px) {
    display: block !important;
    width: 100% !important;
  }
}

.small-column-right {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-left: 20px;

  @media only screen and (max-width: 600px) {
    display: block !important;
    width: 100% !important;
    padding-left: 0 !important;
  }
}

.custom-button {
  font-size: 16px;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
}

/* src/components/Button/Button.scss */

.button-wrapper_bot {
  width: 100%;
}

.medium-button {
  border-radius: 4px;
  width: 280px;
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
}

.radius {
  // Стили для скругления углов, если необходимо
}

.blue-button {
  // Дополнительные стили для кнопки
}

.arrow-icon {
  // Стили для иконки стрелки, если необходимо
}

/* Мобильная адаптивность */
@media only screen and (max-width: 600px) {
  .medium-button {
    width: 100% !important;
  }

  .butt {
    padding: 15px 0 !important;
    font-size: 14px !important;
  }

  .arrow-icon {
    max-width: 14px !important;
    padding-left: 10px !important;
  }
}
